* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Flexa;
    src: url(./ASSETS/FONTS/GT-Flexa-Trial-VF.ttf)format('truetype');
    font-weight: 100 900;
    font-stretch: 50% 200%;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: Flexa, sans-serif;
    font-size: 20vw;
    color: #FBFBF2;
    background: linear-gradient(0deg, rgba(4, 4, 32, 1), rgba(55, 47, 74, 1));
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        width: 90vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .row {
            height: 17vw;
            display: flex;
            justify-content: center;
            align-items: center;

            .letter {
                font-weight: 100;
                font-stretch: 0%;
                letter-spacing: -2.5vw;
                // text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
                // text-shadow: 2px 3px 13px rgba(0, 0, 0, 0.62);
                position: relative;

                // put the letter on top of each others from left to right
                @for $i from 1 through 6 {
                    &:nth-child(#{$i}) {
                        z-index: -($i);
                    }
                }

                transform: translateX(-1.3vw);
            }
        }
    }
}